{% extends "base.html" %}
{% block title %}she codes; home{% endblock %}
{% load static%}
{% block content %}
<div class="page-header">
 <ol class="breadcrumb">
    <li><a href="/">she codes;</a></li>
    <li><a href="/about/">About she codes;</a></li>
 </ol>
</div>
<div id="mainPageCarousel" class="carousel slide">
    <div class="carousel-inner"> <!-- where the slides are stored -->
        <div class="item active">
            <img src="{% static "/images/mainPageCarousel/SheCodesMainPage1.jpg" %}" alt="img1" class="img-responsive"/>
        </div>
        <div class="item">
            <img src="{% static "/images/mainPageCarousel/SheCodesMainPage2.jpg" %}" alt="img2" class="img-responsive">
        </div>
        <div class="item">
            <img src="{% static "/images/mainPageCarousel/SheCodesMainPage3.jpg" %}" alt="img3" class="img-responsive">
        </div>

        <div class="item">
            <img src="{% static "/images/mainPageCarousel/SheCodesMainPage4.jpg" %}" alt="img4" class="img-responsive">
        </div>
    </div>



            <div class="fill" style="background-image:static/images/mainPageCarousel/SheCodesMainPage1.jpg;">

    <a class="carousel-control left" href="#mainPageCarousel" data-slide="prev">
        <span class="icon-prev"></span>
    </a>
    <a class="carousel-control right" href="#mainPageCarousel" data-slide="next">
        <span class="icon-next"></span>
    </a>
</div>

    <center><img class="img-responsive" src="{% static "/images/motto english.png" %}" alt="Self confidence. Persistence. Community"></center>
</div>
<div style="text-align:center; float: left; padding: 2.5% 10% 0% 10%;">
    <h1><b>Our Goal</b></h1>
    <p>is to reach 50% female software developers
        <br>in the IT industry within a decade..</p>
</div>
<div style="text-align:center; padding: 2.5% 10% 0% 10%;">
    <h1><b>Community</b></h1>
    <p>Come and work on a project, learn a new language,
        hear an inspiring or technical lecture or learn to code in one of our meetups.</p>
</div>
<div style="text-align:center;padding: 2.5% 10% 0% 10%; ">
    <h1><b>Education</b></h1>
    <p>Learn some code with us. “The Next Generation” of our community.</p>
</div>
<div style="text-align: justify; padding: 2.5% 10% 0% 10%;">
    <font color="green">she codes;</font> is a community of women in technology, created to achieve an equal number of female
    and male software developers in Israel. Founded in 2013 by Ruth Polachek and a small group of
    volunteers from different tech fields, today <font color="green">she codes;</font> includes approximately 40,000 members.
    Our members include women who want to learn software development or make a career shift into
    high-tech, developers who want to advance their skills and network with other women in high-
    tech and high school students who are learning to program. Our core values are
    Confidence, Persistence, and Community.
</div>
<br>
<div style="text-align: justify; padding: 2% 15% 5% 15%;">
    We operate over 20 branches all over Israel. Branches include programming learning tracks, project
    co-working with support from community volunteers, tech lectures, events with Inspirational Women,
    career advising and more. Volunteer opportunities at <font color="green">she codes;</font> contribute to the personal and
    professional development of members. Branches, learning track planning, events, and more are all
    volunteer-run.
</div>
    <center><img class="img-responsive" src="{% static "/images/girls_code.png" %}" alt="All you need is a laptop and headphones" ></center>

{% endblock %}