{% extends "base.html" %}
{% block title %}she codes; home{% endblock %}
{% block content %}
<div class="page-header">
 <ol class="breadcrumb">
    <li><a href="/">she codes;</a></li>
    <li><a href="/branches/">branches</a></li>
 </ol>
</div>
<div>
    <h3 class="page-title">Branches:</h3>
    <!--<hr class="divider">-->
        <ul class="list-group">
          {% for branch in branches %}
            <!--<div style="float: left;">-->
              <li class="list-group-item"><h3>{{ branch }}</h3>
                <b>Address:</b> {{ branch.address }}
                <br><b>Activity times:</b> {{ branch.activityTimes }}
                  <br><b>Available Tracks:</b>
                <ul>
                {% for trackName in branch.availableTracks.all %}
                    <li>{{ trackName }}</li>
                {% endfor %}
                </ul>
            <!--</div>-->
          {% endfor %}
        </ul>
</div>

{% endblock %}