{% extends "base.html" %}
{% block title %}she codes; home{% endblock %}
{% load static%}
{% block content %}
<div class="page-header">
 <ol class="breadcrumb">
    <li><a href="/">she codes;</a></li>
    <li><a href="/contact/">Contact Us</a></li>
 </ol>
</div>

    <h3 class="page-title">Contact Us:
    <a href="mailto:contact@she-codes.org" target="_blank"><span id="et-info-email">contact@she-codes.org</span></a></h3>
    <form method="post">
        {% csrf_token %}
        {{ contact.as_contact }}
        <div class="form-actions">
          <button class="btn" type="submit">Send</button>
        </div>
    </form>

{% endblock %}