{% extends "base.html" %}
{% load i18n %}
{% get_current_language_bidi as LANGUAGE_BIDI %}
{% block title %}she codes; home{% endblock %}
{% block content %}
    <h3 class="page-title">{%trans 'Careers:' %}</h3>
    <div class="media">
        {% for job in jobs %}
          <div class="media-left media-middle">
            <a href="/jobs/{{ job.jobLink }}/">
              <img class="media-object" src="/static/images/jobs/{{job.jobPhoto}}" alt="{{job.jobTitle}}">
            </a>
          </div>
          <div class="media-body">
            <h3 class="media-heading">{%trans job.jobTitle %}</h3>
            {%trans job.jobDescription|safe %}
          </div>
        {% endfor %}
    </div>

{% endblock %}