{% extends "base.html" %}
{% load i18n %}
{% load set_var %}
{% get_current_language_bidi as LANGUAGE_BIDI %}
{% block title %}she codes('career center');{% endblock %}
{% block content %}
<div class="parallax-container" data-parallax="scroll" data-bleed="10" data-speed="0.2" data-image-src="/static/images/parallax12.png" data-natural-width="100%">
        <figcaption>
            <h1><b>{% trans 'Our Goal' %}</b></h1>
            <h3>{%trans 'is to reach 50 percent female software developers in the IT industry within a decade.' %}</h3>
        </figcaption>
        <figcaption>
            <h1><b>{% trans 'Community' %}</b></h1>
            <h3>{% trans 'Come and work on a project, learn a new language, hear an inspiring or technical lecture or learn to code in one of our meetups.' %}</h3>
        </figcaption>
</div>
<div class="container">
    <h3 class="page-title">{%trans 'Careers:' %}</h3>
    <div class="media">
        {% for job in jobs %}
            {% if LANGUAGE_BIDI %}
                {% set bidi = 'right' %}
                {% set counter_bidi = 'left' %}
            {% else %}
                {% set bidi = 'left' %}
                {% set counter_bidi = 'right' %}
            {% endif %}
                <article>
                    <div class="pull-{{bidi}} thumb col-md-3">
                        <a href="#">
                            <img src="{{MEDIA_URL}}{{job.jobPhoto}}" alt="" style="max-height: 300px;"/>
                        </a>
                    </div>
                    <div class="pull-{{counter_bidi}} preview col-md-9">
                        <ul class="meta">
                        <h2>{{job.jobTitle}}</h2>
                            <li><a href="#">{{job.company}}</a></li>
                            <li><a href="#">{{job.jobSkills}}</a></li>
                            <li><a href="#">for {{job.seniority}} position</a></li>
                            <li><a href="#">Published on {{job.postDate}}</a></li>
                        </ul>
                        <div class="body">
                            <p>
                                {{job.jobDescription|safe}}
                            </p>
                            <a href="#">Continue</a>
                        </div>
                    </div>
                </article>
        {% endfor %}
    </div>
</div>








<div class="container">
    <div class="media">
        {% for job in jobs %}
              <div class="media-left media-middle">
            {% if dir == True %}
                <a href="/jobs/{{ job.jobLink }}/">
                  <img class="media-object" src="/{{job.jobPhoto}}" alt="{{job.jobTitle}}">
                </a>
              </div>
              <div class="media-body">
                <h3 class="media-heading">{%trans job.jobTitle %}</h3>
                {%trans job.jobDescription|safe %}
              </div>
            {% endif %}
        {% endfor %}
    </div>
</div>
{% endblock %}