{% extends "base.html" %}
{% load i18n %}
{% get_current_language_bidi as LANGUAGE_BIDI %}
{% block title %}{{ user }}@she codes;{% endblock %}
{% block content %}
<div class="parallax-container" data-parallax="scroll" data-bleed="10" data-speed="0.2" data-image-src="/static/images/parallax12.png" data-natural-width="100%">
    <div style="color:white;">
        <div style="text-align:center; padding: 2.5% 10% 0% 10%;">
            <h1 class="parallax-title"><b>{% trans 'Our Goal' %}</b></h1>
            <h3>{%trans 'is to reach 50 percent female software developers in the IT industry within a decade.' %}</h3>
        </div>
        <div style="text-align:center; padding: 2.5% 10% 0% 10%;">
            <h1 class="parallax-title"><b>{% trans 'Community' %}</b></h1>
            <h3>{% trans 'Come and work on a project, learn a new language, hear an inspiring or technical lecture or learn to code in one of our meetups.' %}</h3>
        </div>

    </div>
</div>

<div class="container">

    <h3 class="page-title">{% blocktrans %} {{ user }}'s Profile: {% endblocktrans %}</h3>
<div>
    {% blocktrans %}Name: {% endblocktrans %}{{ user.first_name }} {{ user.last_name }}
    <br>
    {% blocktrans %}A she codes; member since: {% endblocktrans %}{{user.date_joined}}
    <br>
   {% blocktrans %}Track: {% endblocktrans %}{{user.profile.track}}
    <br>
    {% blocktrans %}Branch: {% endblocktrans %}{{user.profile.main_branch}}
</div>
</div>
    {% endblock %}