{% extends "base.html" %}
{% block title %}she codes; home{% endblock %}
{% block content %}
<div class="page-header">
 <ol class="breadcrumb">
    <li><a href="/">she codes;</a></li>
    <li><a href="/members/">members</a></li>
 </ol>
</div>
<div>
    <h3 class="page-title">Members:</h3>
        <ul class="list-group">
          {% for user in users %}
          <li class="list-group-item"><a href="/members/{{ user.id }}/">{{ user }}</a></li>
          {% endfor %}
        </ul>
</div>

{% endblock %}