{% extends "base.html" %}
{% load i18n %}
{% get_current_language_bidi as LANGUAGE_BIDI %}
{% block title %}{{ user }}@she codes;{% endblock %}
{% block content %}
<div class="page-header">
<ol class="breadcrumb">
  <li><a href="/">she codes;</a></li>
  <li><a href="/members/">{%trans 'members' %}</a></li>
  <li><a href="/">{% blocktrans %} {{user}} {% endblocktrans %}</a></li>
</ol>
</div>
    <h3 class="page-title">{% blocktrans %} {{ user }}'s Profile: {% endblocktrans %}</h3>
<div>
    {% blocktrans %}Name: {% endblocktrans %}{{ user.first_name }} {{ user.last_name }}
    <br>
    {% blocktrans %}A she codes; member since: {% endblocktrans %}{{user.date_joined}}
    <br>
   {% blocktrans %}Track: {% endblocktrans %}{{user.profile.track}}
    <br>
    {% blocktrans %}Branch: {% endblocktrans %}{{user.profile.main_branch}}
</div>
{% endblock %}