{% extends "base.html" %}
{% load i18n %}
{% load set_var %}
{% get_current_language_bidi as LANGUAGE_BIDI %}
{% if LANGUAGE_BIDI %}
  {% set dir = "rtl" %}
{% else %}
  {% set dir = "ltr" %}
{% endif %}
{% block title %}she codes; Newsletter{% endblock %}
{% block content %}
<div class="parallax-container" data-parallax="scroll" data-bleed="10" data-speed="0.2" data-image-src="/static/images/parallax12.png" data-natural-width="100%">
    <div style="color:white;">
        <div style="text-align:center; padding: 2.5% 10% 0% 10%;">
            <h1 class="parallax-title"><b>{% trans 'Our Goal' %}</b></h1>
            <h3>{%trans 'is to reach 50 percent female software developers in the IT industry within a decade.' %}</h3>
        </div>
        <div style="text-align:center; padding: 2.5% 10% 0% 10%;">
            <h1 class="parallax-title"><b>{% trans 'Community' %}</b></h1>
            <h3>{% trans 'Come and work on a project, learn a new language, hear an inspiring or technical lecture or learn to code in one of our meetups.' %}</h3>
        </div>

    </div>
</div>

<div class="container">
{% if dir == "ltr" %}
    <h3 class="page-title">{{news.itemTitle}}</h3>
    <div style="float:left">
        <img src="/static/images/news/{{news.itemPhoto}}" alt=".">
    </div>
    <div style="padding-left: 5%">
        {{news.itemContent|safe}}
    </div>
{% else %}
    <h3 class="page-title" style="font-family: assistant;">{{news.itemTitle_hebrew}}</h3>
    <div>
        <img src="/static/images/news/{{news.itemPhoto}}" alt="." style="width: 400px; height: auto">
    </div>
    <div style="float:left padding-right: 15%">
        {{news.itemContent_hebrew|safe|linebreaks}}
    </div>
{% endif %}
    </div>

{% endblock %}