{% extends "base.html" %}
{% load i18n %}
{% load set_var %}
{% get_current_language_bidi as LANGUAGE_BIDI %}
{% block title %}she codes(Newsletter);{% endblock %}
{% block content %}
<div class="parallax-container" data-parallax="scroll" data-bleed="10" data-speed="0.2" data-image-src="/static/images/parallax12.png" data-natural-width="100%">
        <figcaption>
            <h1><b>{% trans 'Our Goal' %}</b></h1>
            <h3>{%trans 'is to reach 50 percent female software developers in the IT industry within a decade.' %}</h3>
        </figcaption>
        <figcaption>
            <h1><b>{% trans 'Community' %}</b></h1>
            <h3>{% trans 'Come and work on a project, learn a new language, hear an inspiring or technical lecture or learn to code in one of our meetups.' %}</h3>
        </figcaption>
</div>
<div class="container" style="padding: 2.5% 2% 1% 5%;">
        <h3 class="page-title">{%trans 'Newsletter' %}</h3>
        {% for item in news %}
            {% if LANGUAGE_BIDI and item.itemLanguage == 'hebrew' %}
              {% set dir = True %}
            {% elif LANGUAGE_BIDI == False and item.itemLanguage == 'english' %}
              {% set dir = True %}
            {% else %}
              {% set dir = False %}
            {% endif %}
            <div class="media">
            {% if dir == True %}
                {% if LANGUAGE_BIDI %}
                    {% set bidi = 'right' %}
                    {% set counter_bidi = 'left' %}
                {% else %}
                    {% set bidi = 'left' %}
                    {% set counter_bidi = 'right' %}
                {% endif %}
                <article>
                    <div class="col-md-12">
                        <div class="pull-{{bidi}} thumbnail-big col-md-3">
                            <a href="/newsletter/{{item.id}}">
                                <img src="{{MEDIA_URL}}{{item.itemPhoto}}" alt=""/>
                            </a>
                        </div>
                        <div class="pull-{{counter_bidi}} preview col-md-9">
                            <ul class="meta">
                            <h2>{{item.itemTitle}}</h2>
                                <!--<li><a href="#">{{item.tags}}</a></li>-->
                                <!--<li><a href="#">{{item.itemLanguage}}</a></li>-->
                                <li><a href="#">Published on {{item.postDate}}</a></li>
                            </ul>
                            <div>
                                <p>
                                    {{item.itemContent|safe|slice:":150"}}
                                </p>
                                <a href="/newsletter/{{item.id}}">Continue reading</a>
                            </div>
                        </div>
                    </div>
                </article>
                    <!--<div class="thumbnail col-sm-3">-->
                      <!--<a href="/newsletter/{{item.id}}" role="button">-->
                        <!--<img src="/{{item.itemPhoto}}" alt="{{item.itemTitle}}">-->
                      <!--</a>-->
                      <!--<div class="caption" style="text-align:center;">-->
                        <!--<h4><strong>{%trans item.itemTitle %}</strong></h4>-->
                        <!--<div>{%trans item.itemContent|safe|slice:":100" %}...</div>-->
                      <!--</div>-->
                   <!--</div>-->
            </div>
            {% endif %}
        {% endfor %}
    </div>
    <!--</div>-->


{% endblock %}