{% extends "base.html" %}
{% load i18n %}
{% load set_var %}
{% get_current_language_bidi as LANGUAGE_BIDI %}
{% block title %}she codes('{{news.itemTitle}}');{% endblock %}
{% block content %}
<div class="parallax-container" data-parallax="scroll" data-bleed="10" data-speed="0.2" data-image-src="/static/images/parallax12.png" data-natural-width="100%">
        <figcaption>
            <h1><b>{% trans 'Our Goal' %}</b></h1>
            <h3>{%trans 'is to reach 50 percent female software developers in the IT industry within a decade.' %}</h3>
        </figcaption>
        <figcaption>
            <h1><b>{% trans 'Community' %}</b></h1>
            <h3>{% trans 'Come and work on a project, learn a new language, hear an inspiring or technical lecture or learn to code in one of our meetups.' %}</h3>
        </figcaption>
</div>

<div class="container">
{% if LANGUAGE_BIDI and news.itemLanguage == 'hebrew' %}
  {% set dir = True %}
{% elif LANGUAGE_BIDI == False and news.itemLanguage == 'english' %}
  {% set dir = True %}
{% else %}
  {% set dir = False %}
{% endif %}
{% if dir == True %}
    <h3 class="page-title">{{news.itemTitle}}</h3>
    <div style="float:left">
        <img src="/static/images/news/{{news.itemPhoto}}" alt=".">
    </div>
    <div class="article" style="padding-left: 5%">
        {{news.itemContent|safe|linebreaks}}
    </div>
{% else %}
    <section style="margin: 7%;">
    {% trans 'This article is not in the selected language. What do you want to do?' %}
    <ol>
        <li>
            {% trans 'Switch languages:' %}
            <form action="{% url 'set_language' %}" method="post"> {% csrf_token %}
              <input name="next" type="hidden" value="{{ redirect_to }}" />
              <select name="language" onchange="this.form.submit()">
                {% get_language_info_list for LANGUAGES as languages %}
                  {% for language in languages %}
                    <option value="{{ language.code }}" {% if language.code == LANGUAGE_CODE %} selected="selected"{% endif %}>
                      {{ language.name_local }}
                    </option>
                  {% endfor %}
              </select>
            </form>
        </li>
        <li>
            {% trans 'Go back to the newsletter index and search for the same article in your own language.' %}<br>
        </li>
    </ol>
        <a href="/newsletter/"><button class="btn">{%trans 'Take me to index' %}</button></a>
    </section>
{% endif %}
    </div>

{% endblock %}