{% extends "base.html" %}
{% load i18n %}
{% load set_var %}
{% get_current_language_bidi as LANGUAGE_BIDI %}
{% if LANGUAGE_BIDI %}
  {% set dir = "rtl" %}
{% else %}
  {% set dir = "ltr" %}
{% endif %}
{% block title %}she codes(nextGeneration);{% endblock %}
{% load static%}
{% block content %}
<div class="parallax-container" data-parallax="scroll" data-bleed="10" data-speed="0.2" data-image-src="/static/images/parallax12.png" data-natural-width="100%">
        <figcaption>
            <h1><b>{% trans 'Our Goal' %}</b></h1>
            <h3>{%trans 'is to reach 50 percent female software developers in the IT industry within a decade.' %}</h3>
        </figcaption>
        <figcaption>
            <h1><b>{% trans 'Community' %}</b></h1>
            <h3>{% trans 'Come and work on a project, learn a new language, hear an inspiring or technical lecture or learn to code in one of our meetups.' %}</h3>
        </figcaption>
</div>
<div class="container">
<h3 class="page-title">{%trans 'Next Generation' %}</h3>
<div>
    <p class="mainPar">
    {%trans 'Are you a student in 9th-12th grade? Are you interested in technology? Do you need help with your programming homework? Do you want to go to interesting tech lectures?' %}
    </p>
        <center><a href="https://www.facebook.com/groups/shecodesNG/" target="_blank"><button class="btn">{%trans 'Join for free!' %}</button></a></center>
    <br>
    <p class="mainPar">
    {%trans 'Come work on a project, learn a new language, listen to an inspiring lecture or a tech talk - or learn to code from scratch at one of our meetings.' %}
    </p>
</div>
<br>
<div>
{% if dir == "ltr" %}
    <h3>{%trans 'Branches' %}</h3>
    <ul class="list-group">
      {% for branch in branches %}
        {% if branch.nextGeneration %}
          <li class="list-group-item"><h3>{{ branch }}</h3>
            <b>{% trans 'Tracks openning time:' %}</b> {{ branch.track_openning_time }}
            <b>{%trans 'Address:' %}</b> {{ branch.address }}
            <br><b>{%trans 'Activity times:' %}</b> {{ branch.activityTimes }}
              <br><b>{%trans 'Available Tracks:' %}</b>
            <ul>
            {% for trackName in branch.availableTracks.all %}
                <li>{{ trackName }}</li>
            {% endfor %}
            </ul>
        {% endif %}
      {% endfor %}
    </ul>
{% else %}
    <h3>{%trans 'Branches' %}</h3>
    <ul class="list-group">
      {% for branch in branches %}
        {% if branch.nextGeneration %}
          <li class="list-group-item"><h3>{{ branch.branchName_hebrew }}</h3>
            <b>{% trans 'Tracks openning time:' %}</b> {{ branch.track_openning_time }}<br>
            <b>{%trans 'Address:' %}</b> {{ branch.address_hebrew }}
            <br><b>{%trans 'Activity times:' %}</b> {{ branch.activityTimes_hebrew }}
              <br><b>{%trans 'Available Tracks:' %}</b>
            <ul>
            {% for trackName in branch.availableTracks.all %}
                <li>{{ trackName }}</li>
            {% endfor %}
            </ul>
        {% endif %}
      {% endfor %}
    </ul>
{% endif %}
</div>
    </div>
{% endblock %}