{% extends "base.html" %}
{% block title %}she codes; home{% endblock %}
{% block content %}
<div class="page-header">
 <ol class="breadcrumb">
    <li><a href="/">she codes;</a></li>
    <li><a href="/contact/">Next Generation</a></li>
 </ol>
</div>
<h3 class="page-title">Next Generation:</h3>
<div>
    <p class="mainPar">
    Are you a student in 9th-12th grade? Are you interested in technology? Do you need help with your programming
        homework? Do you want to go to interesting tech lectures?
    </p>
        <center><a href="https://www.facebook.com/groups/shecodesNG/" target="_blank"><button class="btn">Join for free!</button></a></center>
    <br>
    <p class="mainPar">
    Come work on a project, learn a new language, listen to an inspiring lecture or a tech talk - or learn to code
        from scratch at one of our meetings.
    </p>
</div>
<br>
<div>
    <h3>Branches</h3>
    <ul class="list-group">
      {% for branch in branches %}
        {% if branch.nextGeneration == "NG" %}
          <li class="list-group-item"><h3>{{ branch }}</h3>
            <b>Address:</b> {{ branch.address }}
            <br><b>Activity times:</b> {{ branch.activityTimes }}
              <br><b>Available Tracks:</b>
            <ul>
            {% for trackName in branch.availableTracks.all %}
                <li>{{ trackName }}</li>
            {% endfor %}
            </ul>
        {% endif %}
      {% endfor %}
    </ul>
</div>
{% endblock %}