{% extends "base.html" %}
{% load i18n %}
{% get_current_language_bidi as LANGUAGE_BIDI %}
{% block title %}she codes; partners{% endblock %}
{% block content %}
<div class="parallax-container" data-parallax="scroll" data-bleed="10" data-speed="0.2" data-image-src="/static/images/parallax12.png" data-natural-width="100%">
    <div style="color:white;">
        <div style="text-align:center; padding: 2.5% 10% 0% 10%;">
            <h1 class="parallax-title"><b>{% trans 'Our Goal' %}</b></h1>
            <h3>{%trans 'is to reach 50 percent female software developers in the IT industry within a decade.' %}</h3>
        </div>
        <div style="text-align:center; padding: 2.5% 10% 0% 10%;">
            <h1 class="parallax-title"><b>{% trans 'Community' %}</b></h1>
            <h3>{% trans 'Come and work on a project, learn a new language, hear an inspiring or technical lecture or learn to code in one of our meetups.' %}</h3>
        </div>

    </div>
</div>
<div class="container">

<h3 class="page-title">{%trans 'Partners:' %}</h3>

<div class="column" >
  <div class="col-xs-6 col-md-3" style="width: 33%">
    <a href="#" class="thumbnail" style="border:none">
      <img src="/static/images/sponsors/platinum/platinum.jpg" alt="platinum" class="img-responsive"/>
    </a>
    <a href="#" class="thumbnail" style="border:none">
      <img src="/static/images/sponsors/platinum/googleRiselogo.jpg" alt="Google Rise" class="img-responsive"/>
    </a>
    <a href="#" class="thumbnail" style="border:none">
      <img src="/static/images/sponsors/platinum/american.jpg" alt="USA Embassy" class="img-responsive"/>
    </a>
    <a href="#" class="thumbnail" style="border:none">
      <img src="/static/images/sponsors/platinum/levi lassen.png" alt="Levi Lassen" class="img-responsive"/>
    </a>
  </div>
</div>
<div class="column">
  <div class="col-xs-6 col-md-3" style="width: 33%">
    <a href="#" class="thumbnail" style="border:none">
        <img src="/static/images/sponsors/gold/gold.jpg" alt="gold" class="img-responsive"/>
    </a>
    <a href="#" class="thumbnail" style="border:none">
        <img src="/static/images/sponsors/gold/shecodes.jpg" alt="shecodes" class="img-responsive"/>
    </a>
    <a href="#" class="thumbnail" style="border:none">
        <img src="/static/images/sponsors/gold/logo_sponsor_emc.png" alt="E=MC2" class="img-responsive"/>
    </a>
    <a href="#" class="thumbnail" style="border:none">
        <img src="/static/images/sponsors/gold/THE-JERUSALEM-DEVELOPMENT-AUTHORITY-LOGO.jpg" alt="JDA" class="img-responsive"/>
    </a>
    <a href="#" class="thumbnail" style="border:none">
        <img src="/static/images/sponsors/gold/facebook.jpg" alt="Facebook" class="img-responsive"/>
    </a>
  </div>
</div>

<div class="column">
  <div class="col-xs-6 col-md-3" style="width: 34%">
    <a href="#" class="thumbnail" style="border:none">
        <img src="/static/images/sponsors/silver/silver.jpg" alt="gold" class="img-responsive"/>
    </a>
    <a href="#" class="thumbnail" style="border:none">
        <img src="/static/images/sponsors/silver/googlecampus170.jpg" alt="Google Campus" class="img-responsive"/>
    </a>
    <a href="#" class="thumbnail" style="border:none">
        <img src="/static/images/sponsors/silver/IDCYazamut.jpg" alt="IDC" class="img-responsive"/>
    </a>
    <a href="#" class="thumbnail" style="border:none">
        <img src="/static/images/sponsors/silver/83north-logo.png" alt="83north" class="img-responsive"/>
    </a>
    <a href="#" class="thumbnail" style="border:none">
        <img src="/static/images/sponsors/silver/sandisk-logo.jpg" alt="SanDisk" class="img-responsive"/>
    </a>
    <a href="#" class="thumbnail" style="border:none">
        <img src="/static/images/sponsors/silver/klarna170.png" alt="Klarna" class="img-responsive"/>
    </a>
    <a href="#" class="thumbnail" style="border:none">
        <img src="/static/images/sponsors/silver/I_CORE.jpg" alt="iCore" class="img-responsive"/>
    </a>
    <a href="#" class="thumbnail" style="border:none">
        <img src="/static/images/sponsors/silver/algo_logo.png" alt="Algo" class="img-responsive"/>
    </a>
    <a href="#" class="thumbnail" style="border:none">
        <img src="/static/images/sponsors/silver/wix-1.jpg" alt="WIX" class="img-responsive"/>
    </a>
    <a href="#" class="thumbnail" style="border:none">
        <img src="/static/images/sponsors/silver/ven.png" alt="ventures" class="img-responsive"/>
    </a>
  </div>
</div>
    </div>
{% endblock %}