{% extends "base.html" %}
{% block title %}she codes; home{% endblock %}
{% block content %}
<div class="page-header">
 <ol class="breadcrumb">
    <li><a href="/">she codes;</a></li>
    <li><a href="/team/">Team</a></li>
 </ol>
</div>
<h3 class="page-title">Team:</h3>
            <div style="float: left; text-align:center; padding-right: 30px">
                  {% for member in team %}
                    {% if member.column == 1%}
                      <h5><b>{{ member }}</b></h5>
                        {{ member.title }}<br><br>
                    {%endif%}
                  {% endfor %}
            </div>
            <div style="float: left; text-align:center;  padding-right: 30px">
                  {% for member in team %}
                    {% if member.column == 2%}
                      <h5><b>{{ member }}</b></h5>
                        {{ member.title }}<br><br>
                    {%endif%}
                  {% endfor %}
            </div>
            <div style="float: left; text-align:center;padding-right: 30px">
                  {% for member in team %}
                    {% if member.column == 3%}
                      <h5><b>{{ member }}</b></h5>
                        {{ member.title }}<br><br>
                    {%endif%}
                  {% endfor %}
            </div>
            <div style="float: left; text-align:center;">
                  {% for member in team %}
                    {% if member.column == 4 %}
                      <h5><b>{{ member }}</b></h5>
                        {{ member.title }}<br><br>
                    {%endif%}
                  {% endfor %}
            </div>
{% endblock %}