{% extends "base.html" %}
{% load i18n %}
{% get_current_language_bidi as LANGUAGE_BIDI %}
{% block title %}she codes; home{% endblock %}
{% block content %}
<div class="page-header">
 <ol class="breadcrumb">
    <li><a href="/">she codes;</a></li>
    <li><a href="/tracks/">{%trans 'tracks' %}</a></li>
 </ol>
</div>
    <h3 class="page-title">{%trans 'Tracks:' %}</h3>
<div>
    <p>
        <ul>
        <li>{%trans 'All the tracks are for free.' %}</li>
        <li>{%trans 'No prerequisites are required.' %}</li>
        <li>{%trans 'No registration is required, unless otherwise specified.' %}</li>
        <li>{%trans 'Please bring your laptop and headphones to each meeting.' %}</li>
        <li>{%trans 'Each branch has a facebook group. It is best to join them and ask questions specific for the branch.' %}</li>
        <li>{%trans 'In each track you study independently, with online lectures and exercises. There are no face-to-face lectures, but mentors are available in each branch to assist you.' %}</li>
        </ul>
    </p>
        <ul class="list-group">
          {% for track in tracks %}
            <div style="float: left;">
            {%if track.trackDescription != "N/A"%}
              <li class="list-group-item"><h3>{{ track }}</h3>  <!-- the logo doesn't work. -->
                 {%trans track.trackDescription|safe %}</li>
            {% endif %}
            </div>
          {% endfor %}
        </ul>
</div>

{% endblock %}