{% extends "base.html" %}
{% load i18n %}
{% get_current_language_bidi as LANGUAGE_BIDI %}
{% block title %}she codes; home{% endblock %}
{% block content %}
<div class="parallax-container" data-parallax="scroll" data-bleed="10" data-speed="0.2" data-image-src="/static/images/parallax12.png" data-natural-width="100%">
    <div style="color:white;">
        <div style="text-align:center; padding: 2.5% 10% 0% 10%;">
            <h1 class="parallax-title"><b>{% trans 'Our Goal' %}</b></h1>
            <h3>{%trans 'is to reach 50 percent female software developers in the IT industry within a decade.' %}</h3>
        </div>
        <div style="text-align:center; padding: 2.5% 10% 0% 10%;">
            <h1 class="parallax-title"><b>{% trans 'Community' %}</b></h1>
            <h3>{% trans 'Come and work on a project, learn a new language, hear an inspiring or technical lecture or learn to code in one of our meetups.' %}</h3>
        </div>

    </div>
</div>
    <h3 class="page-title">{%trans 'Tracks:' %}</h3>
<div>
    <p>
        <ul>
        <li>{%trans 'All the tracks are for free.' %}</li>
        <li>{%trans 'No prerequisites are required.' %}</li>
        <li>{%trans 'No registration is required, unless otherwise specified.' %}</li>
        <li>{%trans 'Please bring your laptop and headphones to each meeting.' %}</li>
        <li>{%trans 'Each branch has a facebook group. It is best to join them and ask questions specific for the branch.' %}</li>
        <li>{%trans 'In each track you study independently, with online lectures and exercises. There are no face-to-face lectures, but mentors are available in each branch to assist you.' %}</li>
        </ul>
    </p>
        <ul class="list-group">
          {% for track in tracks %}
            <div style="float: left;">
            {%if track.trackDescription != "N/A"%}
              <li class="list-group-item"><h3>{{ track }}</h3>  <!-- the logo doesn't work. -->
                 {%trans track.trackDescription|safe %}</li>
            {% endif %}
            </div>
          {% endfor %}
        </ul>
</div>

{% endblock %}