{% extends "base.html" %}
{% load i18n %}
{% get_current_language_bidi as LANGUAGE_BIDI %}
{% block title %}Page not found{% endblock %}
{% block header_text %}Page not found{% endblock %}

{% block content %}

    <p>
        {%trans
        The page you have requested does not exist or is unavailable. Please note that some of the content in this site
        is only available for logged in members. If you are a member,
        please <a href="/login/">login</a>, <a href="/signup/">join our community</a> or go
        back to <a href="/home/">homepage</a>.
        %}
    </p>

{% endblock %}