<!DOCTYPE html>

{% load staticfiles %}

<html>
<head>
    {% load bootstrap3 %}
    {% bootstrap_css %}
    <title>{% block title %}{% endblock %}</title>
    <meta charset="UTF-8">
        <link rel="shortcut icon" href="{%  static 'favicon.ico' %}">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="keywords" content="she codes; is an Israeli based community for women programmers.">
    {% bootstrap_javascript %}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
</head>
<header>
    <div class="container clearfix">

<div class= "navbar-wrapper">
    <div class="container">
        <nav class = "navbar navbar-inverse navbar-fixed-top" id="navbar_whole">

                <div class = "navbar-header" style="background-color: rgb(255,255,255)">
                    <button type= "button" class = "navbar-toggle collapsed" data-toggle= "collapse"
                            data-target= "#navbar" aria-expanded="false" aria-controls ="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/#/">
                         <img class="img-responsive" style="auto; height:180%;" src="{%static "scsite/sc_logo.png" %}">
                    </a>
                </div>

                <div id= "navbar" class="navbar-collapse collapse" style="background-color: rgb(19,125,73)">
                    <ul class="nav navbar-nav">
                        <li>
                            <a href="{% url 'home' %}" style="color:white">Home</a>
                        </li>
                        <li class="dropdown">
                          <a href="#" class="dropdown-toggle" data-toggle="dropdown"role="button" aria-haspopup="true"
                             aria-expanded="false" style="color:white">
                              Activities <span class="caret"></span></a>
                          <ul class="dropdown-menu">
                            <li><a href="/tracks/">Tracks</a></li>
                            <li><a href='/branches/'>Branches</a></li>
                            <li><a href="/next generation/">Next Generation</a></li>
                          </ul>
                        </li>
                        <li>
                            <a href="/faq/" style="color:white">FAQ</a>
                        </li>
                        <li>
                            <a href="/team/" style="color:white">Team</a>
                        </li>
                        <li>
                            <a href="/partners/" style="color:white">Partners</a>
                        </li>
                        <li>
                            <a href="/contact/" style="color:white">Contact Us</a>
                        </li>
                    </ul>
                </div>
        </nav>
        <div align="right">
            <a href="/login/">Login</a>   |   <a href="/logout/">Log out</a> &emsp;
        </div>
    </div>
</div>
</div>
</header>
<body>
    <script type="text/javascript">
        document.body.style.padding = "7px 15px 10px 15px";
    </script>
    {% load static %}
    <div class="container">
    {%block content%}
    {%endblock%}
</div>
</body>
</html>