{% extends 'base.html' %}
{% load i18n %}
{% get_current_language_bidi as LANGUAGE_BIDI %}
{% block content %}
<div class="container">
  <h3 class="page-title">{% trans 'Sign up' %}</h3>
  <form method="post">
    <div class="col-md-5">
    {% csrf_token %}
    {% for field in user_form %}
      <ul style="list-style: none;">
        <li>{{ field.label_tag }}</li>
        <li>{{ field }}</li>
        {% if field.help_text %}
          <li><small style="color: grey">{{ field.help_text|safe}}</small></li>
        {% endif %}
        {% for error in field.errors %}
          <li style="color: red">{{ error }}</li>
        {% endfor %}
      </ul>
    {% endfor %}
      </div>
      <div class="col-md-5">
    {% csrf_token %}
    {% for field in profile_form %}
      <ul style="list-style:none;">
        <li>{% trans field.label_tag %}</li>
        <li>{{ field }}</li>
        {% if field.help_text %}
          <li><small style="color: #ccc;">{{ field.help_text|safe}}</small></li>
        {% endif %}
        {% for error in field.errors %}
          <li style="color: red">{{ error }}</li>
        {% endfor %}
      </ul>
    {% endfor %}
      </div>
    {% if LANGUAGE_BIDI %}
    <div class="col-md-2">
    <button class="btn" type="submit">{% trans 'Sign up' %}</button>
    </div>
    {% else %}
    <button class="btn" type="submit">{% trans 'Sign up' %}</button>
    {% endif %}
  </form>
  </div>
{% endblock %}
