{% extends 'base.html' %}

{% block content %}
  <h3 class="page-title">Sign up</h3>
  <form method="post">
    <div style="float:left">
    {% csrf_token %}
    {% for field in user_form %}
      <p>
        {{ field.label_tag }}<br>
        {{ field }}
        {% if field.help_text %}
          <br><small style="color: grey">{{ field.help_text|safe}}</small>
        {% endif %}
        {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}
      </p>
    {% endfor %}
      </div>
        <div>
    {% csrf_token %}
    {% for field in profile_form %}
      <p>
        {{ field.label_tag }}<br>
        {{ field }}
        {% if field.help_text %}
          <br><small style="color: grey">{{ field.help_text|safe}}</small>
        {% endif %}
        {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}
      </p>
    {% endfor %}
      </div>
    <button class="btn" type="submit">Sign up</button>
  </form>
{% endblock %}
